<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat the Burger!</title>
		<style>
			body {background-color: #ffc966; text-align: center;}
			h1   {color: blue;}
			p    {color: red;}
			img  {width: 15%;}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>